<ion-header [translucent]="true">
  </ion-header>
  
  <ion-content [fullscreen]="true">
      <ion-header collapse="condense">
      </ion-header>
  
      
      <div class="create-post">
          <ion-card fill="none">
            <ion-title> Post </ion-title>
            <ion-grid>
               <ion-row> there will be an field here where users can upload photos</ion-row>
               <ion-row>
                   <ion-item>
                       <ion-label position="stacked">Description</ion-label>
                        <ion-input placeholder="Describe your post with information such as name, location, price, and other relevant data."></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row> there will be a dropdown selection where users can choose the category their post falls under, and more relevant options will appear with specfic categories. (i.e., if a user choose the category "selling," they will see input fields for price, condition, type of item, etc.)</ion-row>
           </ion-grid>
          </ion-card>
      </div>
  
  </ion-content>