<!-- <header>
    <ion-toolbar>
        <ion-title>
            login
        </ion-title>
    </ion-toolbar>
</header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <img src="assets/images/sampleChair.jpg" />
            <br>
            <br>
            <br>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-input placeholder="username"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-input placeholder="password" type="password"></ion-input>
            </ion-item>
            <br>
            <ion-button expand="block" (click)="login()">login</ion-button>
            <ion-button href="/tab1.page.html" id="loginBtn" expand="block">login</ion-button>
            (click)="signInWithEmailAndPassword(email, password)
         </ion-card-content>
    </ion-card>
    <script src="./login.js"></script>
</ion-content> -->

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Sign in User</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form>    
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item> 
  
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #password required></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col> 
        <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>