<header>
    <ion-toolbar>
        <ion-title>
            login
        </ion-title>
    </ion-toolbar>
</header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <img src="sampleChair.jpg" alt="chairy chair">
            <br>
            <br>
            <br>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-input placeholder="username"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-input placeholder="password" type="password"></ion-input>
            </ion-item>
            <br>
            <ion-button expand="block" (click)="login()">login</ion-button>
         </ion-card-content>
    </ion-card>
</ion-content>