<ion-tabs>

  <ion-toolbar slot="top">
    <ion-title class="bulletin-title">Bulletin</ion-title>
    <ion-tab-button slot="secondary" tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button slot="secondary" tab="tab2">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button slot="secondary" tab="tab3">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button slot="secondary" tab="tab4">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Post</ion-label>
    </ion-tab-button>

  </ion-toolbar>

  
