<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="explore-feed">
    <ion-searchbar></ion-searchbar>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="username-header">Username Username</ion-card-title>
    </ion-card-header>
      <img class="img" src="assets/images/sampleChair.jpg"/>

      <ion-toolbar class="interaction-toolbar">
        <ion-icon size="large" name="heart-circle-outline"></ion-icon>
        <ion-icon size="large" name="chatbubble-outline"></ion-icon>
        <ion-icon size="large" name="open-outline"></ion-icon>
        <ion-icon size="large" slot="end" name="folder-open-outline"></ion-icon>
    </ion-toolbar>

      <ion-card-header>
        <ion-card-title>Sample Title 1</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div> Username Username </div>
        <div class="post-description">On the explore page, the user will see new posts from other users in their location or that are a part of their organization (college). They will also be able to sort posts by category, search categories, favorite categories, and search posts. I will also implement an infinite scroll component to generate more posts for the user. Under each post, the user will be able to click icons that will allow them to like a post, message the poster, share the post, and save the post. Saved posts will be stored and users can view them on their profile page. </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title class="username-header">Username Username</ion-card-title>
    </ion-card-header>
      <img class="img" src="assets/images/sampleChair.jpg" />

      <ion-toolbar class="interaction-toolbar">
        <ion-icon size="large" name="heart-circle-outline"></ion-icon>
        <ion-icon size="large" name="chatbubble-outline"></ion-icon>
        <ion-icon size="large" name="open-outline"></ion-icon>
        <ion-icon size="large" slot="end" name="folder-open-outline"></ion-icon>
    </ion-toolbar>

      <ion-card-header>
        <ion-card-title>Sample Title 2</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div> Username Username </div>
        <div>Here will go a lengthy description of the post written by the poster.</div>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <img class="img" src="assets/images/sampleChair.jpg" />

      <ion-toolbar class="interaction-toolbar">
        <ion-icon size="large" name="heart-circle-outline"></ion-icon>
        <ion-icon size="large" name="chatbubble-outline"></ion-icon>
        <ion-icon size="large" name="open-outline"></ion-icon>
        <ion-icon size="large" slot="end" name="folder-open-outline"></ion-icon>
    </ion-toolbar>

      <ion-card-header>
        <ion-card-title>Sample Title 3</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div> Username Username </div>
        <div>Here will go a lengthy description of the post written by the poster.</div>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <img class="img" src="assets/images/sampleChair.jpg" />

      <ion-toolbar class="interaction-toolbar">
        <ion-icon size="large" name="heart-circle-outline"></ion-icon>
        <ion-icon size="large" name="chatbubble-outline"></ion-icon>
        <ion-icon size="large" name="open-outline"></ion-icon>
        <ion-icon size="large" slot="end" name="folder-open-outline"></ion-icon>
    </ion-toolbar>

      <ion-card-header>
        <ion-card-title>Sample Title 4</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div> Username Username </div>
        <div>Here will go a lengthy description of the post written by the poster.</div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
