ion-card{
    height: 845px;
    width: 525px;
    box-shadow: none;
}

ion-icon{
    padding: 0 5px;
}

ion-card-title{
    font-size: 18px;
    font-weight: bold;
}

ion-card-header{
    height: 40px;
}

ion-searchbar{
    color: black;
    width: 500px;
    padding-top: 40px;
}

.img{
    height: 525px;
    width: 525px;
}

.username-header{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.post-description{

}

.explore-feed{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interaction-toolbar{
    padding: 0 20px;
    height: 40px;
}