<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <!-- firebase login section!!!!!!!!!!!! -->
  <section *ngIf="(afAuth.user | async) as user; else loginItems">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ user.email }}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </section>

  <section>
    <ion-button (click)="createAccount()">Register</ion-button>
    <ion-button (click)="login()">Login</ion-button>
    <ion-button (click)="logout()">Logout</ion-button>
  </section>

  <ng-template #loginItems>
    <h1>login pls</h1>
    <ion-item>
      <ion-label>
        email
      </ion-label>
      <ion-input [(ngModel)]="user.email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>
        password
      </ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  </ng-template>
  <!-- ---------------------------------- -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="home-feed">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="username-header">Username Username</ion-card-title>
  </ion-card-header>
      <img class="img" src="assets/images/sampleChair.jpg" />

      <ion-toolbar class="interaction-toolbar">
        <ion-icon size="large" name="heart-circle-outline"></ion-icon>
        <ion-icon size="large" name="chatbubble-outline"></ion-icon>
        <ion-icon size="large" name="open-outline"></ion-icon>
        <ion-icon size="large" slot="end" name="folder-open-outline"></ion-icon>
    </ion-toolbar>

      <ion-card-header>
          <ion-card-title>Sample Title 1</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div> Username Username </div>
        <div class="post-description">The first tab, Home, currently displays four sample posts to illustrate what the users’ feeds will look like. On the home page, the user will only see posts from the categories that they have favorited.</div>
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="username-header">Username Username</ion-card-title>
  </ion-card-header>
      <img class="img" src="assets/images/sampleChair.jpg" />

      <ion-toolbar class="interaction-toolbar">
          <ion-icon size="large" name="heart-circle-outline"></ion-icon>
          <ion-icon size="large" name="chatbubble-outline"></ion-icon>
          <ion-icon size="large" name="open-outline"></ion-icon>
          <ion-icon size="large" slot="end" name="folder-open-outline"></ion-icon>
      </ion-toolbar>

      <ion-card-header>
          <ion-card-title>Adirondack chair for sale</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div>Username Username</div>
        <div class="post-description">One adirondack chair for sale. Selling for $35. In fantastic condition, only a few years old and handmade. Willing to negotiate price, has to be picked up from old taylor rd. Message me with any questions or offers.
        </div>
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
          <ion-card-title class="username-header">Username Username</ion-card-title>
      </ion-card-header>
      <img class="img" src="assets/images/sampleChair.jpg" />

      <ion-toolbar class="interaction-toolbar">
        <ion-icon size="large" name="heart-circle-outline"></ion-icon>
        <ion-icon size="large" name="chatbubble-outline"></ion-icon>
        <ion-icon size="large" name="open-outline"></ion-icon>
        <ion-icon size="large" slot="end" name="folder-open-outline"></ion-icon>
    </ion-toolbar>

      <ion-card-header>
          <ion-card-title>Sample Title 3</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div> Username Username </div>
        <div>Here will go a lengthy description of the post written by the poster.</div>
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
          <ion-card-title class="username-header">Username Username</ion-card-title>
      </ion-card-header>
      <img class="img" src="assets/images/sampleChair.jpg" />

      <ion-toolbar class="interaction-toolbar">
        <ion-icon size="large" name="heart-circle-outline"></ion-icon>
        <ion-icon size="large" name="chatbubble-outline"></ion-icon>
        <ion-icon size="large" name="open-outline"></ion-icon>
        <ion-icon size="large" slot="end" name="folder-open-outline"></ion-icon>
    </ion-toolbar>

      <ion-card-header>
          <ion-card-title>Sample Title 4</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div>Username Username</div>
        <div>Here will go a lengthy description of the post written by the poster.</div>
      </ion-card-content>
  </ion-card>
</div>
</ion-content>
