ion-card{
    height: 625px;
    width: 525px;
}

ion-icon{
    padding: 0 5px;
}

ion-card{
    padding: 50px 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img-switch{
    display: flex;
    flex-direction: row;
}

profile-grid-img{
    height: 100px;
    width: 100px;
    overflow: hidden;
}

ion-grid{
    --ion-grid-width: 300px;
}

.img{
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name-text{
    font-weight: bold;
}

.user-bio-text{

}

.settings-button{
    
}
